extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create a new account
      form.form.form--login
        .form__group
          label.form__label(for='name') Full Name
          input#fullName.form__input(type='text', placeholder='Enter Full Name', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          label.form__label(for='phoneNumber') Mobile Phone Number
          input#phoneNumber.form__input(type='text', placeholder='Enter your mobile phone number', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required)
        .form__group.ma-bt-md
          label.form__label(for='confirmPassword') Confirm Password
          input#confirmPassword.form__input(type='password', placeholder='••••••••', required)
        .form__group
          button.btn.btn--green(type='button' onclick='signup()') Create Account